/* Active stars (filled) */
/* .ant-rate-star-full .ant-rate-star-second,
.ant-rate-star-full .ant-rate-star-first,
.ant-rate-star-half .ant-rate-star-second {
  color: #d1e2f5 !important;
} */

.rating-total-number {
  margin-left: 5px;
  font-weight: 600;
  color: rgb(112, 114, 116);
  line-height: 1.75;
  font-size: 14px;
}
