/* body {
  background-color: #222228;
} */
.series-list-container {
  padding: 50px;
  min-height: 100vh;
  overflow-y: auto;
}

header h1 {
  font-size: 2rem;
}

.series-title {
  color: #fff;
}

.btn-container {
  display: flex;
  gap: 15px;
}

.notification-container {
  background-color: #222228 !important;
  border-radius: 5px !important;
  padding: 15px 20px !important;
}

.notification-error-container {
  background-color: #421318 !important;
  border-radius: 5px !important;
  padding: 15px 20px !important;
}

.ant-notification-notice-close {
  color: #fff !important;
}

/* .ant-notification-notice {
  background-color: #222228 !important;
  border-radius: 20px !important;
  overflow: hidden;
} */

.notification-text {
  color: #fff;
  font-family: Roboto !important;
}

.notification-error-text {
  color: #fff;
  font-family: Roboto !important;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.load-more-btn {
  margin-top: 20px;
  font-weight: 500;
}

.sort-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: #dddddd;
}

.rating-sort-text {
  font-family: Roboto !important;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.add-series-btn {
  font-family: Roboto !important;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}

.rating-sort-text:hover {
  color: #007bff;
}

.ant-dropdown-menu-title-content {
  font-family: Roboto !important;
  color: #fff !important;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: #222228 !important;
}

.ant-dropdown-menu-title-content:hover {
  /* background-color: rgba(59, 71, 159, 0.1) !important;
  border-radius: 3px; */
  color: #007bff !important;
}

.series-search-input .anticon {
  color: #fff;
}

.sort-dropdown .anticon {
  color: #fff;
}

.ant-btn-variant-outlined {
  background: transparent !important;
}

.sort-buttons button {
  padding: 6px 14px;
  /* border: 1px solid #ccc; */
  border-radius: 15px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.sort-buttons button.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
}

.sort-buttons button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.series-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  overflow: hidden;
}

.series-search-input {
  width: 300px;
  margin-bottom: 20px;
}

.ant-input-affix-wrapper {
  background-color: transparent !important;
  color: #fff !important;
  border-color: #fff !important;
}

.ant-input::placeholder {
  color: #fff !important;
  opacity: 1 !important;
}

.ant-input-affix-wrapper input {
  color: #fff;
}

.ant-input-affix-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
  opacity: 1;
}

.ant-input-affix-wrapper input:focus::placeholder {
  color: transparent !important;
  opacity: 0 !important;
}

.ant-input-affix-wrapper .ant-input-clear-icon {
  color: #fff;
}

.ant-input-affix-wrapper .ant-input-clear-icon:hover {
  color: rgba(132, 149, 201, 0.815) !important;
}

.series-card {
  background: #1a1a1d;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.rating-series-list {
  margin-bottom: 8px !important;
}

.series-card:hover {
  transform: scale(1.05);
}

/* .series-card img {
  width: 100%;
} */

.series-info {
  padding: 6px;
  font-size: 1rem;
}

.series-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.series-card-image:hover {
  transform: scale(1.05);
}

/* Ensure responsiveness */
@media (max-width: 768px) {
  .series-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
  }

  .filters {
    flex-direction: column;
    gap: 10px;
  }
  .series-card-image {
    height: 100px;
    width: 100px;
  }

  .series-info h3 {
    font-size: 0.7rem;
  }

  .series-info p {
    font-size: 0.6rem;
  }

  .series-list-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .search-and-dropdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .series-search-input {
    width: 100%;
    max-width: none;
  }

  .sort-dropdown {
    width: 100%;
    max-width: none;
  }

  .rating-series-list .ant-rate {
    font-size: 13px !important; /* Smaller than the default ~20px */
  }

  .rating-total-number {
    font-size: 12px !important;
  }

  /* .add-series-btn {
    width: 100%; 
    text-align: center; 
  } */
}
