body,
html {
  background-color: #616161;
  margin: 0;
  padding: 0;
  height: 100%;
}

p {
  margin: 0;
}

.series_detail_page_wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: auto;
}

.series_detail_page {
  display: flex;
  justify-content: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  flex-wrap: wrap;
}
.main_panel_exclude_side_panel {
  display: flex;
  flex-direction: column;
}

.content {
  flex: 3;
  padding: 20px;
  /* background-color: #e0e0e0; */
  background-color: #c0c0d9;
  /* border-radius: 8px; */
  text-align: center;
  max-width: 800px;
}

.main_title {
  /* background-color: #20232a; */
  /* color: white; */
  padding: 2px;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-bottom: 20px;
  border-bottom: 2px solid #9696aa71;
}

.title {
  font-size: 1.2rem;
  line-height: 22px;
  margin: 0;
  cursor: pointer;
  color: #20232a;
  margin-bottom: 5px;
}

/* .title:hover {
  transform: scale(1.1) translateX(3px);
} */

.detail_title_img {
  transition: transform 0.3s ease;
  transform-origin: center;
  cursor: pointer;
}

.detail_title_img img {
  border-radius: 8px;
}

.detail_title_img:hover {
  transform: scale(1.06) translateX(3px);
}

.characters_section {
  margin-top: 20px;
}

/* .characters {
  margin-top: 20px;
} */

.detail_character_header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  border-bottom: 2px solid #9696aa71;
  height: 59px;
}

.detail_character_header_container:hover {
  color: #007bff;
  cursor: pointer;
}

.characters_title {
  /* background-color: #20232a; */
  /* color: white; */
  padding: 2px;
  /* border-radius: 5px; */
  font-size: 1.5rem;

  /* margin-bottom: 20px; */
  /* flex: 1; */
}

.detail_character_dropdown {
  margin-left: auto;
  padding-top: 35px;
  color: #20232a;
}

.detail_character_dropdown:hover {
  color: #007bff;
  cursor: pointer;
}

.character_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  );  */
  gap: 15px;
  justify-items: center;
  /* margin-top: 10px; */
}

/* Adjust grid for smaller screens */
@media (max-width: 1024px) {
  .character_grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
  }
}

@media (max-width: 768px) {
  .character_grid {
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 480px) {
  .character_grid {
    grid-template-columns: 1fr; /* Single column for very small screens */
  }
}

.character_card {
  text-align: center;
}

.character_card img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  transition: transform 0.3s ease; /* Smooth transition */
}

.character_card img:hover {
  transform: scale(1.1); /* Scale image up by 10% */
  cursor: pointer;
}
.character_card {
  margin-top: 8px;
  font-size: 0.9rem;
  /* line-height: 1.5; */
  /* font-weight: 600; */
}

.character_name_subtext {
  /* font-weight: normal !important; */
  padding-left: 2px;
}

/* .side_panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: #d9d9d9;
  margin-left: 20px;
} */

/* .panel_item {
  background-color: #c0c0c0;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
} */

.side_panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  /* background-color: #d9d9d9; */
  margin-left: 20px;
  width: 100%; /* Full width for smaller screens */
  max-width: 300px; /* Restrict width on larger screens */
}

.panel_item h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.panel_item p {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.panel_item button {
  padding: 10px 20px;
  font-size: 0.9rem;
  background-color: #61dafb;
  color: #20232a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .series_detail_page {
  max-width: 1200px;
  margin: 0 auto;
} */

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .series_detail_page {
    flex-direction: column;
    align-items: center;
  }

  .side_panel {
    margin-left: 0;
    margin-top: 20px;
    width: 100%; /* Take up full width on smaller screens */
  }
}

@media (max-width: 1024px) {
  .characters_title {
    font-size: 20px;
    /* 4 columns for medium screens */
    transition: transform 0.3s ease;
  }
}

@media (max-width: 768px) {
  .characters_title {
    font-size: 15px;
    /* 2 columns for smaller screens */
    transition: transform 0.3s ease;
  }
}

@media (max-width: 480px) {
  .characters_title {
    font-size: 10px;
    /* Single column for very small screens */
    transition: transform 0.3s ease;
  }
}
