.filtered_page {
  padding: 20px;
  color: white;
  background-color: #141414;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters select {
  padding: 5px;
}

.items_grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.pagination button {
  padding: 10px;
  background-color: #1db954;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination span {
  color: white;
}

@media (max-width: 900px) {
  .items-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns on smaller screens */
  }
}

@media (max-width: 600px) {
  .items-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on small screens */
  }
}

.filters select {
  position: relative;
  display: inline-block;
}

.filters select:hover {
  cursor: pointer;
  background-color: #444;
}
